.env
.venv/
__pycache__/
users.db
*.bak_*
report*.pdf
report*.docx
fake.csv
sales.csv
sampl
uploads/
*.log
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
.vscode/
.idea/
*.swp
*.bak
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
